<h2>求職者様ログイン</h2><%= render "users/shared/links" %>
</br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="ui form">
    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field ui grid">
        <%= f.check_box :remember_me %>
        <%= f.label :ログイン情報を記憶する %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "ログイン", class:"ui blue button" %>
    </div>
  </div>
<% end %>


