<h2>採用担当者様新規登録</h2><%= render "clients/shared/links" %>
</br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "clients/shared/error_messages", resource: resource %>
  <div class="ui form">
  <div class="field">
    <%= f.label :会社名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      (<%= @minimum_password_length %> 文字以上)
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    
    <div class="field">
      <%= f.label :パスワード確認 %>
      (左のパスワードをもう一度入力してください)
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "登録", class:"ui blue button right floated" %>
  </div>
<% end %>