<h2><%= @client.name %>様詳細</h2>
<p>*仕事への応募は各求人ページから行えます</p>
</br>
<div>
  <table class="ui definition table">
    <tbody>
      <tr>
        <td class="two wide column">会社名</td>
        <td><%= @client.name %></td>
      </tr>
      <tr>
        <td>会社ホームページ</td>
        <td><%= @client.homepage %></td>
      </tr>
      <tr>
        <td>業界</td>
        <td><%= @client.industry %> </td>
      </tr>
      <tr>
        <td>事業内容</td>
        <td><%= @client.business %></td>
      </tr>
      <tr>
        <td>従業員数</td>
        <td><%= @client.staff %></td>
      </tr>
      <tr>
        <td>本社所在地</td>
        <td><%= @client.address %></td>
      </tr>
      <tr>
        <td>会社紹介</td>
        <td><%= @client.introduction %></td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
</br>
<h3><%= @client.name %>様の求人一覧</h3>
<div class="ui grid">
  <% @jobs.each do |job| %>
    <div class="five wide column">
      <div class="ui card">
        <div class="content">
          <h3><%= job.title %></h3>
          </br>
          <div><%= job.created_at.strftime('%Y年%m月%d日%H時%M分') %>投稿</div>
          </br>
          <div class="description">
            <p>内容：<%= truncate job.description, length: 50, omission: '...' %></p>
            </br>
            <div class="right floated">
              <div class="ui buttons">
                <%= link_to "詳細", job_path(job), class:"ui blue button" %>
                <% if user_signed_in? %>
                  <%= link_to "応募", job_entries_path(job), method: :post, data: { confirm: "登録データが企業様へ送られます。応募してよろしいですか?" }, class:"ui blue button" %>
                <% end %>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>