<% if user_signed_in? %>
  <h2><%= @client.name %>様とのチャット</h2>
  </br>
  <div class="ui segment">
    <div class="chat-field">
      <% @messages.each do |m| %>
        <% if m.is_user %><!-- メッセージがUserによるものだったら -->
          <div class="right-message"><!-- メッセージを右に寄せる -->
            <div class="ui right pointing label">
              <%= m.content %>
            </div>  
          </div>
        <% else %><!-- メッセージがclientによるものだったら -->
          <div class="left-message"><!-- メッセージを左に寄せる -->
            <div class="ui left pointing label">
              <%= m.content %>
            </div>  
          </div>
        <% end %>
      <% end %>
    </div>
  </div>  
<% elsif client_signed_in?%>
  <h2><%= @user.familyName %>様とのチャット</h2>
  </br>
  <div class="ui segment">
    <div class="chat-field content">
      <% @messages.each do |m| %>
        <% if m.is_user %><!-- メッセージがUserによるものだったら -->
          <div class="left-message"><!-- メッセージを左に寄せる -->
            <div class="ui left pointing label">
              <%= m.content %>
            </div>
          </div>
        <% else %><!-- メッセージがclientによるものだったら -->
          <div class="right-message"><!-- メッセージを右に寄せる -->
            <div class="ui right pointing label">
              <%= m.content %>
            </div>  
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div>
  <%= form_for [@room, @message] do |f| %>
    <div class="ui form">
      <%= f.text_field :content %>
      <%= f.submit "送信", class:"ui blue button right floated" %>
    </div>
  <% end %>
</div>